.profileBody {
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pictureAndSocial {
    float: left;
    width: 50%;
}

.info {
    float: left;
    width: 50%;
}

h1 {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 250%; /* Размер шрифта в процентах */
}