.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: auto;
    grid-template-areas: "h h" "n c";

    grid-template-rows: minmax(60px, auto) 1fr;
    grid-template-columns: 2fr 10fr;
}

.content {
    grid-area: c;
    background-color: #fef3ba;
    border: 1px solid #fec8b0;
}

.navbar {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

